<% layout('./layouts/boilerplate.ejs') %>

<div
  class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h1 text-nowrap">Edit Class</h1>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <form
      class="validated"
      action="/class/<%= singleClass._id %>?_method=PUT"
      method="POST"
      novalidate
    >
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="CName">Class Name</label>
        <input
          class="form-control"
          type="text"
          id="CName"
          name="myClass[className]"
          value="<%= singleClass.className %>"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="CCode">Class Code</label>
        <input
          class="form-control"
          type="text"
          id="CCode"
          name="myClass[classCode]"
          value="<%= singleClass.classCode %>"
          required
        />
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="section">Teacher</label>
        <select class="form-select" id="teacher" name="myClass[teacher]">
          <% for (let teacher of teachers) { %>
          <option value="<%= teacher._id %>" <%= (singleClass.teacher.toString() === teacher._id.toString()) ? 'selected' : '' %>><%= teacher.fullName %></option>
          <% } %>
        </select>
      </div>
      <% const sections = [1,2,3,4] %>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="section">Section</label>
        <select class="form-select" id="section" name="myClass[section]">
          <% for (let section of sections) { var selectedSection =
          (singleClass.section == section) ? 'selected' : '' %>
          <option <%- selectedSection %>
            value="<%= section %>" ><%= section %>
          </option>
          <% } %>
        </select>
      </div>
      <% const subjects = ['General', 'Computer Science', 'Mathematics',
      'Political Science', 'History', 'Communications', 'Psychology', 'English',
      'Education', 'Physics', 'Music'] %>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="subject">Subject</label>
        <select class="form-select" id="subject" name="myClass[subject]">
          <% for (let subject of subjects) { var selectedSubject =
          (singleClass.subject == subject) ? 'selected' : '' %>
          <option <%- selectedSubject %>
            value="<%= subject %>" ><%= subject %>
          </option>
          <% } %>
        </select>
      </div>
      <br />
      <div class="mb-3 col-sm-8 offset-sm-2">
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>
