<% layout('./layouts/boilerplate.ejs') %> <%-
include('../partials/show-header.ejs', {typeName: 'class', type: singleClass,
name: `${singleClass.className}`}) %>

<p>
  <strong>Teacher:</strong> <%= singleClass.teacher.fullName %>
  <br />
  <strong>Class Code: </strong> <%= singleClass.classCode %>
  <br />
  <strong>Section: </strong> <%= singleClass.section %>
  <br />
  <strong>Subject: </strong> <%= singleClass.subject %>
  <br />
  <strong>Year: </strong> <%= singleClass.year %>
  <br />
</p>
<div class="d-flex flex-wrap justify-content-between align-items-center">
  <p class="h4 mb-3">Students:</p>
  <% if (currentUser.username === 'admin') { %>
  <div
    class="d-flex justify-content-end justify-content-md-between btn-toolbar mb-2"
  >
    <a
      class="btn btn-outline-primary mx-2 mb-2 mb-sm-0 align-middle"
      href="/class/<%= singleClass._id %>/addStudent"
      >Add Students</a
    >
    <% if (singleClass.studentsInClass.length > 0) { %>
    <a
      class="btn btn-outline-danger me-sm-2 mb-2 mb-sm-0"
      href="/class/<%= singleClass._id %>/removeStudent"
      >Remove Students</a
    >
    <% } %>
  </div>
  <% } %>
</div>
<%- include('../partials/student-table.ejs', {students:
singleClass.studentsInClass, singleClass, num: 1, classShow: true}) %>
