<% layout('./layouts/boilerplate.ejs') %>

<% let showHeaderButtons = [] %> 
<% let showHeaderDelete = false %> 
<% if (currentUser.username === 'admin') { %>
  <% showHeaderDelete = true %> 
  <% showHeaderButtons = [{ 
    text: 'Edit', 
    colorClass: 'btn-outline-secondary', 
    link: `/class/${singleClass.id}/edit` 
  }] %> 
<% } %>
<% if (singleClass.studentsInClass.length > 0) { %> 
  <% showHeaderButtons = [{ 
    text: 'Attendance', 
    colorClass: 'btn-outline-primary', 
    link: `/class/${singleClass.id}/attendance` 
  }, ...showHeaderButtons] %> 
<% } %>

<%- include('../partials/headers/show-header.ejs', { 
  deleteButton: showHeaderDelete, 
  deleteRequest: `/class/${singleClass.id}/?_method=DELETE`, 
  buttons: showHeaderButtons, 
  headerText: singleClass.className 
}) %>
<%- include('../partials/info-display.ejs', { 
  displayArray: [
    { key: 'Teacher:', value: singleClass.teacher.fullName }, 
    { key: 'Class Code:', value: singleClass.classCode }, 
    { key: 'Section:', value: singleClass.section }, 
    { key: 'Subject:', value: singleClass.subject }, 
    { key: 'Year:', value: singleClass.year }] 
}) %>

<% if (currentUser.username === 'admin') { %>
  <div
    class="d-flex justify-content-center justify-content-sm-end mb-2"
  >
    <% let subHeaderButtons = [{ 
      text: 'Add Students', 
      colorClass: 'btn-outline-primary', 
      link: `/class/${singleClass._id}/addStudent` 
    }] %> 
    <% if (singleClass.studentsInClass.length > 0) { %>
      <% subHeaderButtons = [...subHeaderButtons, { 
        text: 'Remove Students', 
        colorClass: 'btn-outline-danger', 
        link: `/class/${singleClass._id}/removeStudent` 
      }] %> 
    <% } %>
    <%- include('../partials/buttons/button-toolbar.ejs', { 
      buttons: subHeaderButtons, 
      deleteButton: false 
    }) %> 
  </div>
<% } %>

<%- include('../partials/headers/sub-header.ejs', { 
  searchType: 'Student', 
  subHeaderText: 'Students:', 
  search: true 
}) %> 
<%- include('../partials/tables/student-table.ejs', {
  students: singleClass.studentsInClass, 
  singleClass, 
  num: 1, 
  classShow: true, 
  clientPagination: true 
}) %>
<% if (count > 0) { %>
  <%- include('../partials/pagination.ejs', { 
    url, 
    page: 1, 
    pageLimit: 5, 
    count, 
    clientPagination: true 
  }) %>
<% } %>

