<% layout('./layouts/boilerplate.ejs') %> <%-
include('../partials/home-header.ejs', {headerText: `Mark Attendance:
<span>${singleClass.className}</span>`, searchType: 'Class', attendanceEdit:
true}) %>

<form
  action="/class/<%= singleClass._id %>/attendance"
  method="POST"
  enctype="raw"
  id="attendanceForm"
  novalidate
>
  <section class="d-flex justify-content-end container mb-3">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="input-group date" id="datepicker">
        <input
          type="text"
          class="form-control"
          id="date"
          name="date"
          value="<%= date %>"
        />
        <span class="input-group-append">
          <span class="input-group-text bg-light d-block">
            <i class="fa fa-calendar"></i>
          </span>
        </span>
        <div class="invalid-feedback">Must choose a valid date</div>
      </div>
    </div>
  </section>
  <%- include('../partials/student-table.ejs', {students:
  singleClass.studentsInClass.map((entry) => entry.student), num: 1, attendance:
  true, clientPagination: true }) %> <% if (count > 0) { %> <%-
  include('../partials/pagination.ejs', { url, page: 1, pageLimit: 5, count,
  clientPagination: true }) %> <% } %>

  <button class="btn btn-primary mb-3" type="submit">Mark Attendance</button>
</form>
<script>
  // We have to convert the array to JSON to pass data from EJS/server to a script
  let invalidDates = <%- JSON.stringify(notValidDates) %>
</script>
