<nav class="d-flex justify-content-end" aria-label="...">
  <% if (typeof clientPagination === 'undefined') { %> 
  <form class="form-inline me-3" action="<%= url %> " method="GET">
    <% } else { %>
      <div class="form-inline me-3">
      <% } %>  
    <select
      class="form-select"
      name="limit"
      id="pagenum-form"
      <% if (typeof clientPagination === 'undefined') { %>  onchange="this.form.submit()" <% } %> 
    >
      <option value="5" <% if (pageLimit === 5) { %> selected <% } %>>5</option>
      <option value="10" <% if (pageLimit === 10) { %> selected <% } %>>10</option>
      <option value="20" <% if (pageLimit === 20) { %> selected <% } %>>20</option>
    </select>
  <% if (typeof clientPagination === 'undefined') { %> 
  </form>
  <% } else { %>
  </div>
    <% } %> 
  <ul class="pagination">
    <li class="page-item left-item <% if (page === 1) { %>disabled<% } %>">
      <button class="page-link <% if (typeof clientPagination === 'undefined') { %> left-arrow<% } else { %>client-left-arrow<% } %>" data-page-number="<%= page - 1 %>">
        <i class="fa fa-arrow-left"></i>
      </button>
    </li>
    <li class="page-item">
      <span class="page-link-no-hover text-nowrap"
        >Page <strong id="page-num"><%= page %></strong> of
        <strong id="page-total-num"><%= Math.floor((count - 1) / pageLimit + 1) %></strong>
      </span>
    </li>
    <li class="page-item right-item <% if (page >= count / pageLimit) { %>disabled<% } %>">
      <button class="page-link <% if (typeof clientPagination === 'undefined') { %> right-arrow<% } else { %>client-right-arrow<% } %>" data-page-number="<%= page + 1 %>">
        <i class="fa fa-arrow-right"></i>
      </button>
    </li>
  </ul>
</nav>

<script>
  let pageLimit = <%- JSON.stringify(pageLimit) %>
</script>
