<div
  class="d-flex flex-column flex-lg-row justify-content-center justify-content-sm-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h1">
    <% if (typeof attendance !== 'undefined') { %> <span class="text-nowrap"><%=
    moment(attendanceDay.date).format('LL') %></span> Attendance: <% } %> <span class="<% if (typeof attendance !== 'undefined') { %>text-nowrap<% } %>"><%= name %></span>
  </h1>
  <div
    class="d-flex
    <% if (typeName === 'teacher') { %>
     flex-column flex-sm-row
     <% } else { %>
      flex-row
      <% } %>  
     flex-xxs-column align-items-center flex-sm-nowrap btn-toolbar mb-2 mb-md-0"
  >
    <% if (typeName === 'class' && type.studentsInClass.length > 0 && typeof
    attendance === "undefined") { %>
    <a
      class="btn btn-outline-primary mb-2 mb-sm-0 ms-2"
      href="/<%= typeName %>/<%= type._id %>/attendance"
      >Attendance</a
    >
    <% } %>
    <% if (typeName === 'teacher') { %>
    <a
      class="btn btn-outline-secondary ms-2 mb-2 mb-sm-0"
      href="/<%= typeName %>/<%= type._id %>/updatePassword"
      >Update Password</a
    >
    <% } %>
    <% if (currentUser.username === 'admin' || typeof attendance !== "undefined") { %>
    <a
      class="btn btn-outline-secondary mx-2 mb-2 mb-sm-0"
      href="/<%= typeName %>/<%= type._id %>/<% if (typeof attendance !== "undefined") { %>attendance/<%= attendanceDay.id %>/<% } %>edit"
      >Edit</a
    >

    <button
      class="btn btn-outline-danger mb-2 mb-sm-0"
      data-bs-toggle="modal"
      data-bs-target="#deleteModal"
    >
      Delete
    </button>
    <form
      action="/<%= typeName %>/<%= type._id %>/<% if (typeof attendance !== "undefined") { %>attendance/<%= attendanceDay.id %><% } %>?_method=DELETE"
      method="POST"
    >
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">
                Delete
                <% if (typeof attendance !== "undefined") { %>
                  <%= moment(attendanceDay.date).format('LL') %> Attendance
                <% } else { %>
                <%= name %>
                <% } %>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Are you sure you want to delete?</div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% } %>
  </div>
</div>
