<div class="table-responsive">
  <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="px-0"></th>
          <th scope="col">Student ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th class="text-center" scope="col">View</th>
          <% if (typeof add !== 'undefined') { %>
          <th scope="col">Add Student</th>
            <% } %>
          <% if (typeof remove !== 'undefined') { %>
            <th scope="col">Remove Student</th>
            <% } %>
          <% if (typeof attendance !== 'undefined') { %>
          <th scope="col">Mark Present</th>
            <% } %>
          <% if (typeof attendanceShow !== 'undefined') { %>
          <th class="text-center" scope="col">Present</th>
            <% } %>  
          <% if (typeof attendanceEdit !== 'undefined') { %>
          <th scope="col">Mark Present</th>
            <% } %>                                  
        </tr>
      </thead>
      <% if (students.length) { %>
      <tbody>
        <% 
        for (let student of students) { %>
        <tr>
          <th scope="row" class="text-center ps-0"><%= num %>.</th>
          <td class="id"><%= student.studentId %></th>
          <td class="firstName"><%= student.firstName %></td>
          <td class="lastName"><%= student.lastName %></td>
          <td class="text-center">
            <a class="btn btn-outline-secondary px-3 py-1" href="/student/<%= student._id %>"
              ><i class="fa fa-user"></i></a
            >
          </td>
          <% if (typeof add !== 'undefined') { %>
            <td class="ps-4">
            <div class="form-check">
                <input
                class="form-check-input"
                name="studentList[]"
                value="<%= student._id %>"
                type="checkbox"
                id="addStudent"
                />
                <label class="form-check-label" for="addStudent"> Add </label>
            </div>
            </td>
        <% } %>
          <% if (typeof remove !== 'undefined') { %>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="studentList[]"
                  value="<%= student._id %>"
                  type="checkbox"
                  id="removeStudent"
                />
                <label class="form-check-label" for="removeStudent">
                  Remove
                </label>
              </div>
            </td>
        <% } %>
          <% if (typeof attendance !== 'undefined') { %>
            <td class="ps-4">
            <div class="form-check">
                <input
                class="form-check-input"
                name="studentsPresent[]"
                value="<%= student._id %>"
                checked="true"
                type="checkbox"
                id="attendance"
                />
                <label class="form-check-label" for="attendance"> Present </label>
            </div>
            </td>
        <% } %>    
          <% if (typeof attendanceShow !== 'undefined') { %>
          <td class="text-center">
            <% if (attendanceDay.studentsPresent && attendanceDay.studentsPresent.includes(student._id)) { %> 
            Yes
            <% } else { %>
              No
              <% } %>
          </td>
            <% } %>  
          <% if (typeof attendanceEdit !== 'undefined') { %>
            <td class="ps-4">
            <div class="form-check">
                <input
                class="form-check-input"
                name="studentsPresent[]"
                value="<%= student._id %>"
                type="checkbox"
                id="attendance"
            <% if (attendanceDay.studentsPresent.includes(student._id)) { %> 
                checked="true"
            <% } %>                
                />
                <label class="form-check-label" for="attendance"> Present </label>
            </div>
            </td>
        <% } %>                                      
        </tr>
        <% num++ 
      } %>
      </tbody>
      <% } %>
    </table>
  </div>