<% layout('./layouts/boilerplate.ejs') %> <%-
include('../partials/headers/add-header.ejs', { headerText: 'Edit Teacher'}) %>

<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <form
      action="/teacher/<%= teacher._id %>?_method=PUT"
      method="POST"
      class="validated"
      novalidate
    >
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="username">First Name</label>
        <input
          class="form-control"
          type="text"
          name="firstName"
          value="<%= teacher.firstName %>"
          id="firstName"
          autofocus
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="username">Last Name</label>
        <input
          class="form-control"
          type="text"
          name="lastName"
          value="<%= teacher.lastName %>"
          id="lastName"
          autofocus
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          type="email"
          name="email"
          value="<%= teacher.email %>"
          id="email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          value="<%= teacher.username %>"
          id="username"
          autofocus
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 col-sm-8 offset-sm-2">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
  </div>
</div>
