<% layout('./layouts/boilerplate.ejs') %>
<!-- <h1 class="text-center mb-3">Students</h1> -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h1">Student Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="d-flex justify-content-<%- allStudents == false ? "between" : "end mb-3" %>">
      <% if (allStudents == false) { %>
      <a href="/student" class="btn btn-primary mb-3 text-nowrap">Show All</a>
      <% } %>
      <form action="/student" Method="GET">
        <div class="container-fluid input-group d-flex flex-nowrap">
          <div class="form-outline">
            <input
              type="search"
              id="form1"
              name="search"
              class="form-control"
              placeholder="Search"
            />
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% for (let student of students) { %>
        <tr>
          <th scope="row"><%= student.studentId %></th>
          <td><%= student.firstName %></td>
          <td><%= student.lastName %></td>
          <td>
            <a class="btn btn-primary" href="/student/<%= student._id %>"
              >View</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
